ENVIRONMENT='prod'

QQ_APP_ID='"xxxxxxxxxxxxxxx"'
QQ_SECRET='xxxxxxxxxxxxxxx'

TENCENTCLOUD_SECRET_ID='xxxxxxxxxxxxxxxxxxxxxx'
TENCENTCLOUD_SECRET_KEY='xxxxxxxxxxxxxxxxx'
TENCENTCLOUD_BUCKET='xxxxxxxxxxxxxx'
TENCENTCLOUD_CUSTOM_DOMAIN='xxxxxxxxxxxxxxxxx'

DEEPSEEK_API_KEY='xxxxxxxxxxxxxxxxxxx'
HWEATHER_API_KEY='xxxxxxxxxxxxxxxxxxxxxx'

WEIBO_COOKIE='xxxxxxxxxxxxxxxxxxx'

MASTER_QQ='xxxxxxxxxx'
MASTER_QQ_OPENID='xxxxxxxxxxxx'

MILKY_ENDPOINT='http://localhost:8000'
MILKY_TOKEN='null'

ENTARI_SERVER_HOST='127.0.0.1'
ENTARI_SERVER_PORT='9555'
